body {
	background-color: #E08DAC;
	padding-top: 80px;
	padding-bottom: 80px;
}

.reasonsILoveYou {
	margin-bottom: 50px;
}


h1 {
  font-family: "Montserrat";
  text-align: center;
  margin: 0;
  font-size: 30px;
  color: #B8F3F4;
}


#quoteDisplay {
  font-family: Dosis;
  font-size: 30px;
  padding: 20px 30px;
  margin: auto;
  border: 3px solid #153131;
  border-radius: 5px;
  height: 80px;
  color: #B8F3F4;
}

button {
	background-color: #153131;
	color: whitesmoke;
	border: none;
	border-radius: 50px;
	padding: 30px 60px;
	margin-top: 30px;
	font-family: Montserrat;
				
}

button:active				 {
	background-color: #444444;
}

.center-button {
	text-align: center;
}
